<main>
  <div class="content">
    <div class="left-side">
      <form>
        <mat-form-field>
          <mat-label>First word</mat-label>
          <input matInput placeholder="Ex. kitten" [(ngModel)]="firstWord" name="firstWord" (ngModelChange)="recomputeDistance()" />
        </mat-form-field>
        <mat-form-field>
          <mat-label>Second word</mat-label>
          <input matInput placeholder="Ex. sitting" [(ngModel)]="secondWord" name="secondWord" (ngModelChange)="recomputeDistance()" />
        </mat-form-field>
      </form>
    </div>
    <div class="divider" role="separator" aria-label="Divider"></div>
    <div class="right-side">
      <div class="result">
        @if (loading) {
          <mat-spinner></mat-spinner>
        } @else {
          <p>{{ computedDistance }}</p>
        }
      </div>
    </div>
  </div>
</main>
